---
interface Props {
	name: string;
	image: string;
	index: number;
}

const { name, image, index } = Astro.props;
---

<li class="link-card">
  <div class="details">
    <h3>
      {name}
    </h3>
  </div>

  {index && index<7 ?
  <picture>
    <source srcset={`/images/large/${image}`} media="(min-width: 1200px)">
    <source srcset={`/images/medium/${image}`} media="(min-width: 740px)">
    <img src={`/images/small/${image}`} alt={name} />
  </picture>    
  :    
  <picture class="lazy lazy-initial">
    <source srcset={`/images/tiny/${image}`} media="(min-width: 1200px)">
    <source srcset={`/images/tiny/${image}`} media="(min-width: 740px)">
    <img src={`/images/tiny/${image}`} alt={name} />
    </picture>
  }
</li>

<style>
	.link-card {
    list-style: none;
		display: flex;
    aspect-ratio: 1;
    position: relative;
    transition: var(--animation-duration) all linear;
	}

  .link-card:hover {
    margin: -3px;
  }
  
  .link-card:hover img {
    opacity: 1;
  }

  picture, img {
    width: 100%;
    opacity:0.9;
    z-index: 10;
  }
  
  
  picture {
    overflow:hidden;
    border-radius: 6px;
  }
  picture img {
    -webkit-transition: 0.5s -webkit-filter ease;
    -o-transition: 0.5s -webkit-filter ease;
    filter: blur(0);
  }
  

  picture.lazy-initial img {
    filter: blur(var(--blur-radius));
    opacity:0.5;
  }

 .details {
   position:absolute;
   bottom: 0;
   left: 0;
   z-index: 20;
  //  background-color: rgba(0,0,0,0.2);
  //  display:block;
  //  width: 100%;
  //  padding-left: 1rem;
  //  padding-top: 1rem;
  //  padding-bottom: 1rem;
  //  transition: all var(--animation-duration) ease;

}
.details h3 {
  padding: 1rem;
  text-shadow: 0px 0px 4px rgba(0,0,0,0.8);
}


  button {
    border: none;
    border-radius: 3px;
    background-color: var(--text-color);
    color: var(--page-color);
    font-size: 0.9rem;
    margin-right:0.5rem;
  }
  button:hover {
    background-color: var(--page-color);
    color: var(--text-color); 
  }
  button:active {
    background-color: var(--accent-color);
    color: var(--page-color); 
  }

  .pats {
    font-size:0.8rem;
  }


  p,h3 {
    padding: 0;
    margin:0;
  }
  
</style>
